html {
	font-family: 'arial', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #cfcfcf;
    max-width: 100%;
    overflow-x: hidden;
    background: url("../images/world_network.muted.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

body {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

/* global items */

img {
	max-width: 100%;
}

a:link {
	color: yellow;
	text-decoration: none;
}

a:hover, a:focus {
	color: white;
	background-color:black;
    text-decoration: underline;
}

a:visited {
	color:yellow;
}

/* Header */

#main-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;

    gap: 15px;

    padding: 50px 10px 10px;
    position: relative;
    margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
    #main-header {
        justify-content: center;
    }
}

#main-header h1 {
    line-height: 25px;
    font-size: 20px;
    font-weight: normal;
    font-family: monospace;
    color: yellow;
}

/* main area */

main {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-auto-rows: min-content;
    row-gap: 15px;
    column-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

main .toolbar {
    grid-column: 1 / 3;
    text-align: right;
}

/* toolbar */

main .toolbar button {
    border: none;
    background: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

main .toolbar button img {
    height: 1em;
    display: inline-block;
}

main .toolbar button img[hidden] {
    display: none;
}

/* description */

#description {
    text-align: left;
    line-height: 1.5;

    grid-column: 1;
}

#description > *:first-child {
    margin-top: 0;
}

dl.definitions > * {
    display: inline;
    padding: 0;
    margin: 0;
}

dl.definitions > dt:not(:first-child)::before {
    content: "";
    display: block;
    margin-top: 1em;
}

dl.definitions > dt {
    font-weight: bold;
}

.hackerspace-logo {
    float: right;
    width: 100px;
}

#description marquee {
    height:25px;
    max-width:400px;
    background-color:none;
    font-family:arial;
    font-size:12pt;
    color:#ffffff;
}

/* side */

main > aside {
    grid-column: 2;
    text-align: center;
}

#main-info address {
    display: inline;
}

#main-info > * {
    margin: 1.33em 0;
    font-weight: bold;
    color: yellow;
}

@media screen and (max-width: 889px){
    #main-info {
        text-align: center;
    }
}

/* background */

.fullscreen-background {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    background: black;
}

.fullscreen-background img, .fullscreen-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fullscreen-background video {
    opacity: 0.3;
}

.fullscreen-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: linear 1s opacity;
}

.fullscreen-background img[hidden]{
    display: block;
    opacity: 0;
}

.fullscreen-background::after {
    content: "";
    width: 100%;
    height: 25vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, black, rgba(0,0,0,0));
}

/* nav */

#main-nav {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#main-nav > *:not(:last-child)::after {
    content: " | ";
    text-decoration: none !important;
}

/* Affiches */

.affiche {
    border: solid 1px currentColor;
    padding: 10px;
    background: black;
    position: relative;
}

.affiche:not(:first-child){
    margin-top: 25px;
}

.affiche:not(:last-child){
    margin-bottom: 25px;
}

.affiche .credits {
    font-size: 0.5em;
    text-align: right;
}

.affiche .credits, .affiche .credits * {
    color: inherit;
}

/* mobile */

@media screen and (max-width: 889px){
    main {
        grid-template-columns: 1fr;

        row-gap: 50px;
    }

    main > aside {
        grid-row: 3;
        grid-column: 1;
    }

    main .toolbar {
        grid-row: 1;
        grid-column: 1;
    }

    #description {
        grid-column: 1;
    }

    #events {
        grid-row: 4;
    }
}